* {
  font-family: 'Ubuntu', sans-serif;

}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head-title{
  margin: 1rem;
  display: flex;
  justify-self: center;
}

.head-img{
  height: 6rem;
  width: auto;
}

.map-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  /* border: 5px solid black;
  /* height: auto; */
  height: 500px;
  /* display: block; */
  width: 100%;
}
/* 
#map-container {
  width: 500px;
  height: 800px;
  background-color: #ffffff; 
  border: 1px solid #ccc;   
  margin: 20px auto;
} */

.main-flex{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.info-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
}

.neighbor-flex{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.neighbor-name{
  font-size: 4rem;
  font-weight: bold;
  flex-grow: 1;
}

.neighbor-score{
  font-size: 4rem;
  font-weight: bold;
}

.trend-head{
  text-align: start;
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

.trend-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: stretch;
  align-content: stretch;
}

.trend-item{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  align-content: stretch;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  /* background-color: rgb(233, 233, 233); */
  border-radius: 10px;
  border-color: rgb(233, 233, 233);
  border-width: 3px;
  border-style: solid;
}

.score-head{
  font-size: 2rem;

}

.score{
  font-size: 2.5rem;
  font-weight: bold;
}

.year-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: stretch;
  align-content: stretch;
}

.year-item{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  align-content: stretch;
  margin: .5rem;
}

.year-head{
  font-size: 2rem;
  font-weight: bold;
}

.year{
  font-size: 1.5rem;
  color: gray;
}

#map-container {
  width: 100%;
  height: 800px;
  background-color: white; 
  border: 1px solid #ccc;
}

/*Search Box CSS*/

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.submit {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999;
  background-color: white;
  width: 100%;
}

.autocomplete-items div {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  background-color: #ddd;
}